body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(21, 28, 46);
    display: grid;
    place-items: center;
}

.main div {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: hsl(138, 31%, 50%);
    text-shadow: 0 0 30px hsl(138, 31%, 50%);
    width: 300px;
    height: 300px;
    border: white solid 3px;
    display: grid;
    place-items: center;
    font-size: 40px;
    border-radius: 50% 75% 60% 85%;
    animation: shaping 5s linear infinite, /* hsl(138, 31%, 50%) */
                scaling 2s linear infinite;
    box-shadow: 0 0 35px hsl(138, 31%, 50%),
                inset 0 0 35px hsl(138, 31%, 50%);
    animation-fill-mode: forwards;
}

@keyframes shaping {
    10% { border-radius: 30% 15% 40% 65%; }
    20% { border-radius: 10% 45% 20% 55%; }
    30% { border-radius: 100% 55% 80% 35%; }
    40% { border-radius: 50% 75% 60% 85%; }
    50% { border-radius: 10% 45% 20% 55%; }
    60% { border-radius: 30% 15% 40% 65%; }
    70% { border-radius: 100% 55% 80% 35%; }
    80% { border-radius: 10% 45% 20% 55%; }
    90% { border-radius: 50% 75% 60% 85%; }
    100% { border-radius: 30% 15% 40% 65%; }
}

@keyframes scaling {
    50% { transform: scale(1.2);}
    100% { transform: scale(1);}
}

